.alert {
    position: fixed!important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

.alert-enter {
    opacity: 0;
}

.alert-enter-active {
    opacity: 1;
    transition: opacity 750ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transition: opacity 750ms;
}